<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}&nbsp;&nbsp;&nbsp;<img src="{{{uiRootPath}}}/img/cassandra_logo.png"></a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Download</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Latest</a>
            <a class="navbar-item" href="#">3.x</a>
            <a class="navbar-item" href="#">3.0</a>
            <a class="navbar-item" href="#">2.1</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Documentation</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Latest</a>
            <a class="navbar-item" href="#">3.x</a>
            <a class="navbar-item" href="#">3.0</a>
            <a class="navbar-item" href="#">2.1</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Developer Mailing List</a>
            <a class="navbar-item" href="#">User Mailing List</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Blog</a>
	</div>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
